.card__content {
  position: relative;
}
.card__text {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  bottom: -2%;
  left: 1%;
  right: 1%;
  background: linear-gradient(to top, rgba(0, 0, 0, 0.85), transparent);
}
.card__text__watched {
  position: absolute;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  top: 1%;
  left: 55%;
  right: 1%;
  background: linear-gradient(to bottom, rgba(0, 0, 0, 0.85), transparent);
}
.img-fluid-content{
  max-width: 100%
}